@import '../../index.scss';

.brand-logo {
    width: 25vw;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .brand-logo {
        width: 70vw;
    }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 992px) {
    .brand-logo {
        width: 50vw;
    }
 }
 