@import '../../index.scss';

.brand-logo {
    width: 25vw;
}

 @media only screen and (max-width: 600px) {
    .brand-logo {
        width: 70vw;
    }
 }


 @media only screen and (max-width: 992px) {
    .brand-logo {
        width: 50vw;
    }
 }
 