@import '../../index.scss';

.navbar {
    background-color: $bg;
}

a {
    text-decoration: none !important;
}


.navbar-nav {
    align-content: space-between;
}

.nav-item.nav-link {
    color: white;
}

.dropdown-toggle.nav-link {
    
    color: white;
}
