@import '../../App.scss';

.navbar {
    background-color: $bg;
}

.navbar-brand {
    margin-left: 1%;
}

.navbar-nav {
    align-content: space-between;
}

.nav-item.nav-link {
    color: white;
}

.dropdown-toggle.nav-link {
    
    color: white;
}

.link-active {
    .dropdown-toggle.nav-link {
        color: $tertiary !important;
    }
    color: $tertiary !important;
}