@import '../../index.scss';

.social-link {
    color: $primary;

    &:hover {
        color: $blue;
    }
}

.card-team-member {
    transition: box-shadow 0.3s ease-in-out;
}

.card-team-member:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}