.blog-post-content {
    max-width: 60% !important;
}

.blog-title {
    text-transform: capitalize;
}

.blog-content {
    text-align: justify;
}

.blog-img {

    justify-self: center;
    align-self: center;
}