@import './Services.scss';
@import '../../index.scss';

.section-title {
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bolder !important;
    color: $primary !important;
}

@media (max-width: 1200px) {
    .learn-more {
        justify-content: center;
    }
    p {
        text-align: justify;
    }
}


.hero {
        width: 100%;
        height: 70vh;
        background: $bg;
    }
  
    .hero .container {
        padding-top: 72px;
    }
  
    .hero h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }
  
    .hero h2 {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
        font-size: 24px;
    }
  
    .hero .animated {
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

    @media (max-width: 991px) {
    .hero {
        height: 110vh;
        text-align: center;
    }

    .hero h2 {
        text-align: justify;
    }
  
    .hero .animated {
        border-radius: 0px;
        box-shadow: none;
        animation: none;
    }
  
    .hero .hero-img {
        text-align: center;
        padding-bottom: 20px;
    }
  
    .hero .hero-img img {
        width: 70%;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    }
    }



    @keyframes up-down {
        0% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(-10px);
        }
    }