@import '../../index.scss';

.contact-us-card {
    border: 1px solid $primary !important;
    border-radius: 20px !important;

}

.contact-us-info {
    h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
    }
  
    p {
    font-size: 14px;
    color: #6182ba;
    }
}
  

.contact-us-icon {
    color: #47b2e4;
    width: 44px;
    height: 44px;
    padding: 10px;
    background: #e7f5fb;
    align-self: center;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #47b2e4;
        color: white;
    }

}

.form-contact-us {
    button[type=submit] {
        background: #47b2e4;
        border: 0;
        padding: 12px 34px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }

    button[type=submit]:hover {
        background: #209dd8;
    }
}